.section {
  padding: 2rem 220px;
  width: 100%;
}

.mapWrap {
  position: relative;
 
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08); 
}

.mapImage {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

@media (max-width: 1280px) {
  .section {
    padding: 2rem 2rem;
  }
}

@media (max-width: 768px) {
  .mapWrap {
    border-radius: 12px;
  }
}
